body {
	text-align: center;	
	margin: 1em;
	background-color: #F3F5F9;
	color: black;
}

.gif {
	padding-top: 10%;
}

@media (max-width: 768px){
	.gif {
		padding: 17%;
	}
}

h1 {
	font-family: 'Lakki Reddy', sans-serif !important;
	font-size: 4rem;
	margin-top: 0.3em;
	margin-bottom: 0%;
}

.text {
	font-family: 'poppins', sans-serif !important;
	font-weight: 200; 
    font-size: 0.8rem;
	letter-spacing: 0.4em;
}

.podpis {
	font-size: 0.8rem;
}

p {
	font-family: 'poppins', sans-serif !important;
	font-weight: 200; 
    font-size: 0.8rem;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

#obrazok {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 2em;
	background: url('obr.gif');
}
